[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-framework-condition = "*"
pyyaml = "*"
uritemplate = "*"
django-rest-swagger = "*"

[requires]
python_version = "3.6"

[dev-packages]
